<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-3 sidebar"> 
     <div class="side-menu animate-dropdown outer-bottom-xs">
           <div class="menu-inner">
             <div class="head"><i class="icon fa fa-align-justify fa-fw"></i> Categories</div>
             <nav class="yamm megamenu-horizontal">
               <ul class="nav" >
                 
                 <li class="dropdown menu-item" *ngFor="let a of subgroup"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" appToggle><i class="icon fa fa-paper-plane"></i>{{a.CategoryName}}</a> 
                   <!-- /.dropdown-menu --> </li>
                 <!-- /.menu-item -->
                
                 
               </ul>
               <!-- /.nav --> 
             </nav>
             <!-- /.megamenu-horizontal --> 
           </div>
           </div>
           </div>
             
           
            
           
   </div>