<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-3 sidebar"> 
     <div class="side-menu animate-dropdown outer-bottom-xs">
           <div class="menu-inner">
             <div class="head"><i class="icon fa fa-align-justify fa-fw"></i> Categories</div>
             <nav class="yamm megamenu-horizontal">
               <ul class="nav" >
                 
                 <li class="dropdown menu-item" *ngFor="let a of cate"> <a href="#" (click)="getsub(a.CategoryId)" class="dropdown-toggle" data-toggle="dropdown" ><i class="icon fa fa-paper-plane"></i>{{a.CategoryName}}</a> 
                  <ul class="dropdown-menu mega-menu">
                    <li class="yamm-content">
                      <div class="row">
                        <div class="col-sm-12 col-md-3">
                          <ul class="links list-unstyled">
                            <li *ngFor="let b of sub"><a  (click)="subcatefilter(b.SubCategoryId)">{{b.SubCategory}}</a></li>
                            
                          </ul>
                        </div>
                      </div>
                      <!-- /.row --> 
                    </li>
                    <!-- /.yamm-content -->
                  </ul>
                  <!-- /.dropdown-menu --> </li>
                 <!-- /.menu-item -->
                
                 
               </ul>
               <!-- /.nav --> 
             </nav>
             <!-- /.megamenu-horizontal --> 
           </div>
           </div>
           </div>
             
           
            
           
   </div>