<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-3 sidebar"> 
     <div class="side-menu animate-dropdown outer-bottom-xs">
           <div class="menu-inner">
             <div class="head"><i class="icon fa fa-align-justify fa-fw"></i>Sub-Categories</div>
             <nav class="yamm megamenu-horizontal">
               <ul class="nav" >
                 
                 <li class="dropdown menu-item" *ngFor="let am of subcate"><a href="#" (click)="subcatefilter(am.SubCategoryId)" class="dropdown-toggle" data-toggle="dropdown"><i class="icon fa fa-paper-plane"></i>{{am.SubCategory}}</a> 
                   <!-- /.dropdown-menu --> </li>
                 <!-- /.menu-item -->
                
                 
               </ul>
               <!-- /.nav --> 
             </nav>
             <!-- /.megamenu-horizontal --> 
           </div>
           </div>
           </div>
           
           
          
           
   </div>