<div class="ks-wrapper ks-sidebar-wrapper">
    <ul class="nav nav-pills nav-stacked">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="[ '/app/dashboard']">
                <span class="ks-icon fa fa-tachometer"></span>
                <span class="ks-text">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="[ '/app/clienttype']">
                <span class="ks-icon fa fa-tachometer"></span>
                <span class="ks-text">Client Type</span>
            </a>
        </li> <li class="nav-item">
            <a class="nav-link" [routerLink]="[ '/app/client/create']">
                <span class="ks-icon fa fa-tachometer"></span>
                <span class="ks-text">Client create</span>
            </a>
        </li> <li class="nav-item">
            <a class="nav-link" [routerLink]="[ '/app/client/list']">
                <span class="ks-icon fa fa-tachometer"></span>
                <span class="ks-text">Client list</span>
            </a>
        </li>
        

       
        <li class="nav-item">
            <a class="nav-link" [routerLink]="[ '/app/productregistration']">
                <span class="ks-icon fa fa-product-hunt"></span>
                <span class="ks-text">Product Registration</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="[ '/app/product/list']">
                <span class="ks-icon fa fa-product-hunt"></span>
                <span class="ks-text">Product List</span>
            </a>
        </li>
    </ul>
</div>